@import "tailwindcss";

@font-face {
  font-family: circularweb;
  src: url("assets/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: general;
  src: url("assets/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: robert-medium;
  src: url("assets/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: robert-regular;
  src: url("assets/fonts/robert-regular.woff2") format("woff2");
}

@theme {
  --font-circularweb: circularweb, sans-serif;
  --font-general: general, sans-serif;
  --font-robert-medium: robert-medium, sans-serif;
  --font-robert-regular: robert-regular, sans-serif;

}

@layer base {
  body {
    @apply bg-[#dfdff0] font-general overflow-x-hidden w-100dvw;
  }

  
}
